body {
  font-family: roboto, serif;
  font-size: 16px;
  min-width: 750px;
  background-color: #30475e;
  text-align: center;
  color: #222831;
}

#title {
  font-family: "roboto", serif;
  color: #e8e8e8;
  margin-bottom: 1em;
  margin-top: 2em;
  font-size: 2.5em;
}

.container {
  background-color: #e8e8e8;
  width: 65%;
  max-width: 900px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 30px;
  padding: 10px 10px 20px 10px;
}

#description {
  font-size: 1.5em;
}

#name-label {
  display: inline-block;
  padding: 15px;
  text-align: left;
  padding-left: 10px;
}

#name {
  padding: 10px;
  text-align: left;
  width: 20%;
}

#email-label {
  display: inline-block;
  padding: 15px;
  text-align: left;
}

#email {
  padding: 10px;
  text-align: left;
  width: 20%;
}

#number-label {
  display: inline-block;
  padding: 15px;
  text-align: left;
  padding-left: 30px;
}

#number {
  padding: 10px;
  text-align: left;
  width: 20%;
  margin-bottom: 30px;
}

label {
  font-size: 1.5em;
}

input {
  display: inline-block;
  padding: 15px;
}
#dropdown {
  height: 30px;
  width: 180px;
  padding: 5px;
  margin: 10px;
  margin-top: 15px;
  border-radius: 10px;
  border: 2px solid #30475e;
}
