body {
  font-family: roboto, serif;
  font-size: 16px;
  background-color: #30475e;
  text-align: center;
  color: #222831;
}

#title {
  font-family: "roboto", serif;
  color: #e8e8e8;
  margin-bottom: 1em;
  margin-top: 2em;
  font-size: 2.5em;
}

.container {
  background-color: #e8e8e8;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 30px;
  padding: 10px 10px 20px 10px;
}

#description {
  font-size: 1.2em;
}

#name-label {
  display: inline-block;
  padding: 15px;
  text-align: left;
  padding-left: 10px;
}

#name {
  padding: 10px;
  text-align: left;
  width: 25%;
}

#email-label {
  display: inline-block;
  padding: 10px;
  text-align: left;
}

#email {
  padding: 10px;
  text-align: left;
  width: 25%;
  margin-left: 20px;
}

#number-label {
  display: inline-block;
  padding: 15px;
  text-align: left;
  padding-left: 10px;
}

#number {
  padding: 10px;
  text-align: left;
  width: 25%;
  margin-bottom: 30px;
  margin-left: 25px;
}

input {
  display: inline;
  padding: 0px;
  margin: 10px;
}
#dropdown {
  height: 30px;
  width: 180px;
  padding: 5px;
  margin: 10px;
  margin-top: 15px;
  border-radius: 10px;
  border: 2px solid #30475e;
}
.box {
  margin-top: 3px;
}

.comment {
  margin-top: 30px;
}

textarea {
  width: 300px;
  height: 100px;
  font-size: 15px;
}

#submit {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #2c394b;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#submit:hover {
  background: #1f78b8;
  background-image: -webkit-linear-gradient(top, #1f78b8, #1a85cc);
  background-image: -moz-linear-gradient(top, #1f78b8, #1a85cc);
  background-image: -ms-linear-gradient(top, #1f78b8, #1a85cc);
  background-image: -o-linear-gradient(top, #1f78b8, #1a85cc);
  background-image: linear-gradient(to bottom, #1f78b8, #1a85cc);
  text-decoration: none;
}

.radiobtn {
  margin-top: 10px;
}

label {
  font-size: 1em;
}
